fastapi
uvicorn
python-dotenv
python-socketio
aiohttp
websockets
janus
requests
colorlog
pydantic-settings
supabase
httpx
cryptography
sqlalchemy
psycopg2-binary
metaapi-cloud-sdk
websocket-client
gunicorn
beautifulsoup4
